html * {
    font-family: Verdana,sans-serif;
}

header{
    background-color: rgb(33, 118, 33);
    height: 65px;
    font-size: 45px;
    font-weight: bolder;
    padding: 10px;
}

.font {
    background-color: azure;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.answers {
    width: 200px;
    border: 10px;
    background-color: blanchedalmond;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 643px;
}

.submit-button {
    background-color: rgb(47, 150, 47);
    border: none;
    color: white;
    padding:15px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: 698px;

}